@font-face {
  font-family: clash-display-regular;
  src: url("./assests/fonts/ClashDisplay-Regular.otf");
}
@font-face {
  font-family: clash-display-medium;
  src: url("./assests/fonts/ClashDisplay-Medium.otf");
}
@font-face {
  font-family: arlita;
  src: url("./assests/fonts/Arlita.otf");
}
@font-face {
  font-family: clash-grotesk-light;
  src: url("./assests/fonts/ClashGrotesk-Light.otf");
}
@font-face {
  font-family: clash-grotesk-regular;
  src: url("./assests/fonts/ClashGrotesk-Regular.otf");
}
@font-face {
  font-family: clash-grotesk-medium;
  src: url("./assests/fonts/ClashGrotesk-Medium.otf");
}

:root {
  --body-bg: #000000;
  --primary-color: #ddca67;
  --text-color: #ffffff;
  --clash-medium: clash-display-medium;
  --clash-regular: clash-display-regular;
  --arlita: arlita;
  --clash-grotsek-light: clash-grotsek-light;
  --clash-grotesk-regular: clash-grotesk-regular;
  --bg-dark: #080806;
  --clash-grotesk-medium: clash-grotesk-medium;
}
body {
  background: url("./assests/body-bg-img.png") repeat-y center/cover
    rgba(0, 0, 0, 0.9);
  background-blend-mode: darken;
}
.container {
  max-width: 1571px !important;
}
a {
  text-decoration: none;
  display: inline-block;
  color: black;
}
.title-1 {
  text-transform: capitalize;
  font-family: var(--arlita), sans-serif;
  font-size: 80px;
  font-weight: 400;
}
.primary-btn {
  font-family: var(--arlita), sans-serif;
  font-size: 24px;
  color: var(--primary-color);
  padding: 21px 31px;
  border: 2px solid white;
  border-radius: 33px;
  background: rgba(8, 8, 6, 48%);
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  transition: 0.5s all linear;
}
.primary-btn > span {
  position: relative;
  z-index: 2;
  transition: 0.5s linear all;
}
.primary-btn path {
  transition: 0.5s linear;
}
.primary-btn::after {
  content: "";
  background: var(--primary-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: 0.5s all linear;
}
.primary-btn:hover {
  border: 2px solid black;
}
.primary-btn:hover::after {
  width: 100%;
}
.primary-btn:hover > span {
  color: var(--body-bg);
}
.primary-btn:hover path {
  fill: var(--body-bg);
}
.primary-btn > i {
  position: absolute;
  left: 0px;
  display: none;
}
.primary-btn:hover i {
  display: block;
  animation: plane 0.5s linear;
}
@keyframes plane {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
.primary-btn > svg {
  margin-left: 21px;
}
.btn-border {
  background: linear-gradient(-11deg, #f1e28c, #090601, #f1e28c);
  padding: 1px;
  width: fit-content;
}
.btn-border > span {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  text-transform: capitalize;
}
.secondary-btn-wrapper {
  border-radius: 50px;
  transition: 0.5s linear;
}
.secondary-btn-wrapper:hover {
  background: var(--text-color);
  padding: 2px;
  filter: drop-shadow(0 0 8px var(--primary-color));
}
.secondary-btn {
  font-family: var(--arlita);
  font-weight: 400;
  font-size: 24px;
  color: var(--text-color);
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  padding: 21px 35px;
  background: var(--body-bg);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.secondary-btn > span {
  border-radius: 50px;
  position: relative;
  transition: 0.5s linear all;
  z-index: 2;
}
.secondary-btn svg {
  margin-left: 21px;
}
.secondary-btn path {
  transition: 0.5s linear;
}
.secondary-btn::after {
  content: "";
  background: var(--primary-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: 0.5s all linear;
}
.secondary-btn:hover::after {
  width: 100%;
}
.secondary-btn:hover > span {
  color: var(--body-bg);
}
.secondary-btn:hover path {
  fill: var(--body-bg);
}
.secondary-btn i {
  position: absolute;
  left: 0px;
  display: none;
}
.secondary-btn:hover i {
  display: block;
  animation: plane 0.5s linear;
}
.title-2 {
  font-family: var(--arlita), sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: var(--text-color);
  text-transform: capitalize;
  margin: 40px auto 30px;
  text-align: center;
}
.title-2 > span {
  color: var(--primary-color);
}
.subtitle {
  border-radius: 16px;
}
.subtitle > span {
  padding: 14px 58px;
  border-radius: 16px;
  font-family: var(--clash-grotesk-regular), sans-serif;
  background: rgba(0, 0, 0, 0.9);
  font-size: 25px;
}
.title-desc {
  color: var(--text-color);
  font-family: var(--clash-grotesk-regular), sans-serif;
  font-size: 22px;
  text-align: center;
  margin: auto;
  text-transform: capitalize;
  margin-bottom: 91px;
}
.title-3 {
  font-family: var(--arlita), sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: var(--text-color);
  text-transform: capitalize;
}
.title-3 > span {
  color: var(--primary-color);
}

/*=============
Navbar
===============*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--body-bg);
  z-index: 4;
}
.nav-logo {
  width: 110px;
}
.active {
  position: relative;
}
.offcanvas {
  flex-direction: row;
}
.nav-item {
  margin-right: 60px;
  font-size: 20px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  color: var(--text-color);
  font-family: var(--clash-medium), sans-serif;
  transition: 0.5s linear;
  position: relative;
}
.nav-link::before {
  content: "";
  width: 17px;
  height: 10px;
  background: url("./assests/hover-top.png");
  position: absolute;
  top: 6px;
  left: 0;
  opacity: 0;
  transition: 0.5s linear;
}
.nav-link::after {
  content: "";
  width: 17px;
  height: 10px;
  background: url("./assests/hover-bottom.png");
  position: absolute;
  bottom: 6px;
  right: 0;
  opacity: 0;
  transition: 0.5s linear;
}
.nav-link:hover,
.active {
  color: var(--primary-color) !important;
}
.nav-link:hover::before,
.nav-link:hover::after {
  opacity: 1;
}
.active::after,
.active::before {
  opacity: 1 !important;
}

.nav-btns path {
  transition: 0.5s linear;
}
.nav-btns > .user-btn:hover path,
.nav-btns > .search-btn:hover path {
  stroke: var(--primary-color);
}
.user-btn {
  margin-left: 44px;
}

/* ===========
Navbar Responsive
============== */

@media screen and (max-width: 1200px) {
  .offcanvas {
    flex-direction: column;
    background-color: var(--body-bg);
    padding-top: 100px;
  }
  .navbar-toggler{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
    height: 24px;
    transition: 0.5s linear;
  }
  .navbar-toggler::before{
    content: '';
    width: 30px;
    height: 2px;
    position: absolute;
    top: 0;
    background-color: white;
    transition: 0.5s linear;
  }
  .navbar-toggler::after{
    content: '';
    width: 30px;
    height: 2px;
    position: absolute;
    bottom: 0;
    background-color: white;
    transition: 0.5s linear;
  }
  .navbar-toggler.open::before{
    transform: translate(0, 8px) rotate(-45deg);
  }
  .navbar-toggler.open::after{
    transform: translate(0, -8px) rotate(45deg);
  }
  .navbar-toggler.open > .navbar-toggler-icon{
    opacity: 0;
  }
  .navbar-toggler-icon {
    background: none;
    width: 30px;
    height: 2px;
    background-color: white;
    transition: 0.5s linear;
  }
  .nav-item {
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .nav-btns{
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .nav-logo {
    width: 80px;
  }
}

/* =============
Banner Section
===============*/

.banner-sec {
  min-height: 100vh;
  background: url("./assests/banner-bg.png") no-repeat center/cover;
  background-attachment: fixed;
  color: var(--text-color);
  position: relative;
  padding-top: 96px;
  mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}
.banner-sec::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6));
}
.banner-wrapper {
  max-width: 828px;
  position: relative;
  z-index: 2;
}
.banner-wrapper > p {
  max-width: 661px;
  margin: 40px 0 51px;
  font-size: 22px;
  font-family: var(--clash-grotesk-regular), sans-serif;
}

/* ===========
Banner Responsive
============== */

@media screen and (max-width: 992px) {
  .title-1 {
    font-size: 60px;
  }
  .primary-btn {
    font-size: 20px;
  }
  .banner-wrapper {
    max-width: 622px;
  }
  .banner-sec p {
    font-size: 20px;
    max-width: 516px;
  }
}
@media screen and (max-width: 576px) {
  .banner-sec {
    padding-top: 80px;
    min-height: calc(100vh + 80px);
  }
  .title-1 {
    font-size: 40px;
  }
  .primary-btn {
    font-size: 16px;
    padding: 15px 20px;
  }
  .banner-sec p {
    font-size: 16px;
    margin: 40px 0 60px;
  }
}

/* ====================
Video Section
=======================*/

.video-sec {
  padding: 75px 0;
}
.video-sec::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
  z-index: -1;
}
.video-sec .subtitle {
  margin: auto;
}
.video-sec .title-2 {
  max-width: 901px;
  margin: 40px auto 55px;
}
.video-wrapper {
  max-width: 1204px;
  padding: 1px;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--primary-color),
    transparent
  );
  border-radius: 30px;
  margin: auto;
  transition: 0.5s linear all;
}
.video-wrapper:hover {
  filter: drop-shadow(0 0 5px var(--primary-color));
}
.video-content {
  padding: 25px;
  border-radius: 30px;
  background: rgb(8, 8, 8);
}
.video-sec img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video-sec .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid white;
  backdrop-filter: blur(5px);
  transition: 0.5s linear all;
}
.video-sec .play-btn:hover {
  filter: drop-shadow(0 0 5px white);
  transform: scale(1.2) translate(-40%, -40%);
}
.video-sec .play-icon {
  width: 40px;
  transform: translateX(3px);
}

/* =========================
Video Section Responsive
=========================== */

@media screen and (max-width: 768px) {
  .subtitle > span {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .video-sec {
    padding: 45px 0;
  }
  .subtitle > span {
    padding: 10px 30px !important;
    font-size: 12px;
  }
  .video-content {
    padding: 20px;
  }
  .video-sec .play-btn {
    width: 60px;
    height: 60px;
  }
  .video-sec .play-icon {
    width: 26px;
  }
}

/* ======================
Dream Come True Section
========================= */

.dream-come-true-sec {
  padding: 75px 0;
}
.dream-come-true-sec .subtitle-wrapper::before {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 13px;
  background: linear-gradient(
    to right,
    transparent,
    var(--primary-color),
    transparent
  );
}
.dream-come-true-sec .subtitle-wrapper::after {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 13px;
  background: linear-gradient(
    to right,
    transparent,
    var(--primary-color),
    transparent
  );
}
.dream-come-true-sec .subtitle {
  margin: auto;
  position: relative;
  z-index: 2;
}
.dream-come-true-sec .title-2 {
  max-width: 879px;
}
.dream-come-true-sec .title-desc {
  max-width: 479px;
}
.dream-come-true-sec .card {
  border-radius: 26px 26px;
  background-color: transparent;
  transition: 0.4s linear;
}
.dream-come-true-sec .card:hover {
  transform: scale(1.05);
}
.dream-come-true-sec .card-img {
  border-radius: 26px;
  max-width: 451px;
  margin: auto;
  height: 380px;
  padding: 3px;
  position: relative;
}
.dream-come-true-sec .card-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  background: var(--primary-color);
  filter: drop-shadow(0 0 8px var(--primary-color));
  z-index: -1;
  border-radius: 26px;
}
.dream-come-true-sec .card:hover .card-img::after {
  animation: 1s outline linear forwards;
}
@keyframes outline {
  0% {
    height: 3px;
    width: 0;
  }
  30% {
    height: 3px;
    width: 100%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}
.dream-come-true-sec .card-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 26px;
  object-position: bottom;
  position: relative;
}
.dream-come-true-sec .card-details {
  border-radius: 26px;
  color: var(--text-color);
  text-align: center;
  position: relative;
  top: -40px;
}
.dream-come-true-sec .card-details-wrpr {
  position: absolute;
  top: 0;
  z-index: 3;
  padding-top: 31px;
  width: 100%;
}
.dream-come-true-sec .card-details > svg {
  width: 100%;
  position: relative;
  z-index: 2;
}
.dream-come-true-sec .plane-name {
  font-family: var(--arlita), sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-transform: capitalize;
}
.dream-come-true-sec .plane-desc {
  font-family: var(--clash-grotesk-regular), sans-serif;
  font-size: 22px;
  margin: 10px 0 23px;
}
.dream-come-true-sec .card-details .secondary-btn-wrapper {
  border-radius: 33px;
  margin: auto;
  width: 37%;
}
.dream-come-true-sec .card-details .secondary-btn {
  padding: 16px 0;
  font-size: 22px;
  border-radius: 33px;
  justify-content: space-evenly;
}
.dream-come-true-sec .secondary-btn svg {
  margin-left: 11px;
}

/* ====================
Dream Come True Responsive
======================= */

@media screen and (max-width: 1580px) {
  .dream-come-true-sec .card-details .secondary-btn-wrapper {
    width: 39%;
  }
}
@media screen and (max-width: 1400px) {
  .dream-come-true-sec .plane-desc {
    margin: 9px 0 19px;
  }
  .dream-come-true-sec .card-details .secondary-btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .dream-come-true-sec .card-details .secondary-btn-wrapper {
    width: 180px;
  }
  .dream-come-true-sec .plane-desc {
    margin: 9px 0 25px;
  }
}
@media screen and (max-width: 576px) {
  .dream-come-true-sec {
    padding: 45px 0;
  }
  .title-desc {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .dream-come-true-sec .card-img {
    height: 260px;
    max-width: 294.4px;
  }
  .dream-come-true-sec .card-details {
    top: -65px;
  }
  .dream-come-true-sec .plane-name {
    font-size: 24px;
    margin-bottom: 0;
  }
  .dream-come-true-sec .plane-desc {
    font-size: 15px;
  }
  .dream-come-true-sec .card-details-wrpr {
    padding-top: 51px;
  }
  .dream-come-true-sec .card-details .secondary-btn-wrapper {
    width: 119px;
  }
  .dream-come-true-sec .card-details .secondary-btn {
    font-size: 13px !important;
    padding: 8px 0 !important;
  }
  .dream-come-true-sec .secondary-btn svg {
    margin-left: 3px;
  }
  .dream-come-true-sec .plane-desc {
    margin: 2px 0 14px;
  }
  .dream-come-true-sec .card-details {
    max-width: 294.4px;
    margin: auto;
  }
  .dream-come-true-sec .card {
    max-height: 380px;
  }
}

/* =========================
Services Section
============================ */

.service-sec {
  padding: 75px 0;
}
.service-sec .primary-subtitle {
  margin: auto;
  position: relative;
  z-index: 2;
}
.service-sec .subtitle-wrapper::before {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 13px;
  background: linear-gradient(
    to right,
    transparent,
    var(--primary-color),
    transparent
  );
}
.service-sec .subtitle-wrapper::after {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 13px;
  background: linear-gradient(
    to right,
    transparent,
    var(--primary-color),
    transparent
  );
}
.service-sec .title-desc {
  max-width: 639px;
}
.service-sec .sticky-card {
  background: #080806;
  border-radius: 4.605vw;
  border: 1px solid #27220d;
  padding: 4.868vw 5.263vw;
  position: sticky;
  top: 100px;
}
.service-sec .sticky-card::before {
  content: "";
  width: 10.197vw;
  height: 6px;
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 65px;
  filter: drop-shadow(0 0 8px var(--primary-color));
}
.service-sec .secondary-subtitle {
  border-radius: 10px;
}
.service-sec .secondary-subtitle > span {
  border-radius: 10px;
  padding: 7px 42px;
  font-size: 18px;
}
.service-sec .title-3 {
  margin: 44px 0 10px;
}
.sticky-card-desc {
  font-family: var(--clash-grotesk-regular), sans-serif;
  color: var(--text-color);
  font-size: 25px;
  max-width: 540px;
  margin-bottom: 44px;
}
.service-sec .secondary-btn-wrapper {
  border-radius: 33px !important;
}
.service-sec .secondary-btn {
  padding: 16px 26px;
  font-size: 22px;
  border-radius: 33px !important;
}
.service-sec .sticky-card-img {
  border-radius: 34px;
}
.service-sec .sticky-card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4.605vw;
}

/* ==================
Services Section Responsive
===================== */

@media screen and (max-width: 992px) {
  .service-sec .row > .col-12:nth-child(1) {
    order: 2;
  }
  .service-sec .row > .col-12:nth-child(2) {
    order: 1;
  }
  .service-sec .sticky-card {
    max-width: 554px;
    margin: auto;
    padding: 50px 5.263vw;
  }
  .service-sec .sticky-card::before {
    width: 90px;
    left: 6.552vw;
  }

  .service-sec .sticky-card-img {
    margin-bottom: 40px;
  }
  .title-3 {
    font-size: 40px;
  }
  .sticky-card-desc {
    font-size: 22px;
  }
}
@media screen and (max-width: 576px) {
  .service-sec {
    padding: 45px 0;
  }
  .service-sec .title-desc {
    margin-bottom: 50px;
  }
  .service-sec .sticky-card::before {
    left: 8%;
    width: 80px;
  }
  .title-3 {
    font-size: 25px;
  }
  .service-sec .title-3 {
    margin: 30px 0 10px;
  }
  .service-sec .sticky-card {
    padding: 40px 5.263vw;
    top: 85px;
  }
  .sticky-card-desc {
    font-size: 16px;
    margin-bottom: 27px;
    max-width: 390px;
  }
  .service-sec .subtitle > span {
    padding: 7px 23px !important;
    font-size: 12px;
  }
}

/* ================
Predestined Section
================== */

.predestined-sec {
  position: relative;
  overflow: hidden;
  padding: 75px 0;
}
.predestined-wrapper {
  box-shadow: 0 0 45px #5f4a0a;
  padding: 3.177vw 2.917vw;
  background: var(--bg-dark);
  border-radius: 40px;
  position: relative;
  z-index: 2;
}
.testimonial-wrapper {
  background: linear-gradient(
    to bottom,
    #f1e28c,
    #f1e28c,
    #0a0702,
    transparent
  );
  padding: 1px;
  border-radius: 40px;
  position: relative;
}
.testimonial-wrapper > .testimonial-content {
  background: var(--bg-dark);
  border-radius: 40px;
}
.predestined-subtitle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testimonial-content {
  padding: 121px 2.708vw 76px;
  color: var(--text-color);
}
.testimonial-img {
  max-width: 678px;
  margin: auto;
}
.testimonial-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
}
.testimonial-subtitle > span {
  padding: 10px 42.5px;
}
.predestined-sec .title-2 {
  margin: 50px 0;
}
.testimonial-card {
  padding: 25px 3.355vw 25px 25px;
  border: 1px solid rgba(241, 226, 140, 51%);
  border-radius: 10px;
  position: relative;
  background: #0f0f0c;
  transition: 0.5s linear all;
}
.testimonial-card:hover {
  filter: drop-shadow(0 0 5px var(--primary-color));
}
.testimonial-card::after {
  content: "";
  height: 50px;
  width: 50px;
  background: url("./assests/star.png") no-repeat center/cover;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.testimonial-card::before {
  content: "";
  height: 50px;
  width: 50px;
  background: var(--primary-color);
  filter: blur(30px);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.testimonial-card-img {
  width: 99px;
  margin-right: 20px;
  flex-shrink: 0;
}
.testimonial-card-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.testimonial-content h5 {
  font-family: var(--clash-grotesk-medium), sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.testimonial-content p {
  font-family: var(--clash-grotesk-regular), sans-serif;
  font-size: 18px;
  margin-bottom: 0;
}
.user-review-card {
  background: #12110a;
  border-radius: 15px;
  padding: 20px;
  border: 2px solid #27220d;
  transition: 0.5s linear all;
}
.user-review-card:hover {
  filter: drop-shadow(0 0 5px var(--primary-color));
}
.user-review-card-content {
  background: var(--body-bg);
  border-radius: 15px;
  padding: 30px 42px;
  position: relative;
}
.user-review-card-content::before {
  content: "";
  height: 3px;
  width: 5.263vw;
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 42px;
  filter: drop-shadow(0 0 8px var(--primary-color));
}
.user-review-card-content > p {
  font-family: var(--clash-grotesk-regular), sans-serif;
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 16px;
}
.user-review-card .profile-pic {
  width: 56px;
  height: 56px;
  margin-right: 10px;
}
.user-review-card .profile-pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-review-card .profile-details > h5 {
  font-family: var(--clash-grotesk-medium), sans-serif;
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 0;
  text-transform: capitalize;
}
.user-review-card .profile-details > p {
  font-family: var(--clash-grotesk-regular), sans-serif;
  font-size: 14px;
  color: var(--text-color);
  text-transform: capitalize;
}

/* ============================
Predestined Section Responsive
===============================*/

@media screen and (max-width: 992px) {
  .title-2 {
    font-size: 50px;
  }
  .testimonial-content {
    padding: 45px 2.708vw 45px;
  }
  .testimonial-img {
    max-width: 450px;
    margin-bottom: 40px;
  }
  .user-review-card-content::before {
    width: 60px;
    left: 42px;
  }
}
@media screen and (max-width: 576px) {
  .predestined-sec {
    padding: 45px 0;
  }
  .secondary-btn {
    font-size: 16px !important;
    padding: 10px 15px !important;
  }
  .secondary-btn svg {
    margin-left: 10px;
  }
  .predestined-wrapper {
    padding: 0;
  }
  .testimonial-subtitle {
    margin: auto;
  }
  .title-2 {
    font-size: 30px;
  }
  .testimonial-img {
    margin-bottom: 40px;
    max-width: 230px;
  }
  .predestined-sec .title-2 {
    margin: 40px 0;
  }
  .testimonial-card {
    align-items: start !important;
    padding: 20px;
  }
  .testimonial-card-img {
    margin-right: 0;
    margin-bottom: 20px;
    width: 70px;
  }
  .testimonial-content p {
    font-size: 16px;
  }
  .user-review-card {
    padding: 8px;
  }
  .user-review-card-content::before {
    left: 20px;
  }
  .user-review-card-content {
    padding: 20px 15px;
  }
  .user-review-card-content p {
    font-size: 14px;
  }
  .user-review-card .profile-pic {
    width: 45px;
    height: 45px;
  }
  .user-review-card .profile-details > h5 {
    font-size: 16px;
  }
  .user-review-card .profile-details > p {
    font-size: 12px;
  }
}

/*====================
 Nothing Section
 =====================*/

.nothing-sec {
  padding: 75px 0;
}
.nothing-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nothing-sec .subtitle {
  border-radius: 10px;
}
.nothing-sec .subtitle > span {
  font-size: 18px;
  padding: 7px 42px;
  border-radius: 10px;
  background: var(--body-bg);
}
.nothing-heading {
  color: var(--primary-color);
  font-family: var(--arlita), sans-serif;
  font-size: 60px;
  line-height: 0.8;
  margin: 50px 0 25px;
}
.nothing-heading > span {
  font-family: var(--clash-grotesk-medium), sans-serif;
  font-size: 200px;
}
.nothing-sec .title-desc {
  max-width: 527px;
  margin-left: 0;
  text-align: left;
  font-size: 30px;
}
.nothing-sub-box {
  background: #080806;
  border: 2px solid #27220d;
  border-radius: 3.289vw;
  padding: 15px 44px 64px;
  filter: drop-shadow(0 0 15px rgba(202, 184, 63, 0.2));
}
.nothing-dec-1 {
  width: 226px;
  margin: auto;
}
.nothing-dec-1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nothing-sub-box-title {
  font-family: var(--arlita), sans-serif;
  font-size: 40px;
  color: var(--text-color);
  max-width: 435px;
  margin: 10px auto 37px;
  line-height: 1.2;
}
.nothing-sub-box-title > span {
  color: var(--primary-color);
}
.nothing-sub-box input {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(221, 202, 103, 50%);
  border-radius: 16px;
  color: var(--text-color);
  font-family: var(--clash-regular), sans-serif;
  font-size: 16px;
  padding: 20px;
  margin-bottom: 31px;
}
.nothing-sub-box input::placeholder {
  color: var(--text-color);
}
.nothing-sub-box input:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

.nothing-sub-box label {
  color: var(--text-color);
  font-size: 20px;
  font-family: var(--clash-medium), sans-serif;
  margin: 0 0 14px 20px;
}
.nothing-sub-box #ph-no {
  margin-bottom: 49px;
}
.nothing-sub-box .secondary-btn-wrapper {
  border-radius: 33px;
  border: none;
  position: relative;
}
.nothing-sub-box .secondary-btn-wrapper::after {
  position: absolute;
  bottom: -21px;
  right: -33px;
  transform: rotate(-6.46deg);
  content: "";
  width: 45.63px;
  height: 77.43px;
  background: url("./assests/nothing-sub-box-dec-2.png") no-repeat center/cover;
}
.nothing-sub-box .secondary-btn {
  border-radius: 33px;
  padding: 15px 31px;
  font-size: 24px;
  background: #080806;
}

/* ====================
Nothing Section Responsive
======================= */

@media screen and (max-width: 1200px) {
  .nothing-sec .subtitle {
    margin: auto;
  }
  .nothing-heading {
    text-align: center;
  }
  .nothing-sec .title-desc {
    margin-left: auto;
    text-align: center;
    font-size: 25px;
  }
}
@media screen and (max-width: 992px) {
  .nothing-heading {
    font-size: 50px;
  }
  .nothing-heading > span {
    font-size: 180px;
  }
}
@media screen and (max-width: 768px) {
  .nothing-heading > span {
    font-size: 160px;
  }
  .nothing-sec .title-desc {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .nothing-sec {
    padding: 45px 0;
  }
  .nothing-sec .subtitle > span {
    font-size: 12px;
    padding: 7px 23px !important;
  }
  .nothing-heading {
    font-size: 35px;
    margin: 30px 0 15px;
  }
  .nothing-heading > span {
    font-size: 90px;
  }
  .nothing-sec .title-desc {
    font-size: 18px;
    max-width: 320px;
  }
  .nothing-sub-box {
    padding: 15px 20px 50px;
  }
  .nothing-dec-1 {
    width: 175px;
  }
  .nothing-sub-box-title {
    font-size: 25px;
    text-align: center;
    margin: 10px auto 25px;
  }
  .nothing-sub-box label {
    font-size: 16px;
  }
  .nothing-sub-box input {
    padding: 13px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .nothing-sub-box input::placeholder {
    font-size: 14px;
  }
  .nothing-sub-box label {
    margin: 0 0 10px 10px;
  }
  .nothing-sub-box #ph-no {
    margin-bottom: 40px;
  }
}

/*===================
Footer Section 
=====================*/

.footer-sec {
  padding: 66px 0;
  position: relative;
  background: var(--body-bg);
  margin-top: 75px;
}
.footer-sec::before {
  content: "";
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #524b26;
}
.footer-sec .row::after {
  content: "";
  background: #f1e28c;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
}
.footer-logo {
  width: 120px;
  display: inline-block;
}
.footer-logo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.footer-desc {
  font-family: var(--clash-grotsek-light), sans-serif;
  font-weight: 300;
  color: var(--text-color);
  font-size: 20px;
  text-transform: capitalize;
  margin: 40px 0 70px;
}
.footer-sec .contact-details {
  font-family: var(--clash-grotesk-regular), sans-serif;
  font-size: 20px;
  color: var(--text-color);
}
.footer-sec .links-card {
  width: fit-content;
}
.footer-links {
  list-style: none;
  font-family: var(--clash-grotesk-regular), sans-serif;
  font-size: 20px;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 0;
  padding: 0;
}
.footer-links > li {
  margin-bottom: 20px;
  width: fit-content;
}
.footer-link {
  transition: 0.5s linear;
}
.footer-links > li:hover > .footer-link {
  color: var(--primary-color);
}
.footer-links > li:last-child {
  margin-bottom: 0;
}
.footer-link {
  color: var(--text-color);
}
.footer-form-card {
  max-width: 402px;
  margin-left: auto;
}
.footer-form-card .form-card-heading {
  text-transform: capitalize;
  color: var(--text-color);
  font-size: 22px;
  margin-bottom: 23px;
}
.footer-form-card form {
  border: 1px solid rgba(221, 202, 103, 50%) !important;
  padding: 6px 6px 6px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  transition: 0.5s linear all;
}
.footer-form-card form:hover {
  filter: drop-shadow(0 0 5px var(--primary-color));
}
.footer-form-card #email {
  background: transparent;
  border: none;
  color: var(--text-color);
  font-size: 16px;
  width: 70%;
}
.footer-form-card #email::placeholder {
  color: var(--text-color);
  font-size: 20px;
  margin-left: 30px;
}
.footer-form-card #email:focus {
  outline: none;
}
.footer-form-card .btn {
  background: var(--primary-color);
  font-family: var(--clash-grotesk-medium);
  color: var(--body-bg);
  padding: 6px 0;
  border-radius: 16px;
  font-size: 20px;
  width: 30%;
}
.footer-form-card .socials-row {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 90px 0 38px;
  width: fit-content;
  margin-left: auto;
  flex-wrap: wrap;
  padding: 0;
}
.footer-form-card .socials-row > li {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: var(--body-bg);
  border: 2px solid var(--primary-color);
  margin-right: 10px;
  filter: drop-shadow(0 0 3px var(--primary-color));
}
.footer-form-card .socials-row > li:last-child {
  margin-right: 0;
}
.footer-form-card .socials-row .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--body-bg);
  border-radius: 50%;
  transition: 0.5s linear;
}
.footer-form-card .socials-row i {
  color: var(--primary-color);
  transition: 0.5s linear;
}
.footer-form-card .socials-row > li:hover > .social-icon {
  background: var(--primary-color);
}
.footer-form-card .socials-row > li:hover i {
  color: black;
}
.footer-form-card .service-locations {
  font-family: var(--clash-grotesk-regular);
  font-size: 20px;
  list-style: none;
  color: var(--text-color);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  flex-wrap: wrap;
  padding: 0;
}
.footer-form-card .service-locations > li {
  margin-right: 20px;
  position: relative;
}
.footer-form-card .service-locations > li:last-child {
  margin-right: 0;
}
.footer-form-card .service-locations > li::after {
  content: "";
  width: 2px;
  background: var(--primary-color);
  position: absolute;
  top: 5.5px;
  bottom: 5.5px;
  right: -11px;
}
.footer-form-card .service-locations > li:last-child::after {
  display: none;
}
.footer-rights-text {
  font-family: var(--clash-grotesk-regular);
  font-size: 20px;
  color: var(--text-color);
  margin-top: 30px;
  text-transform: capitalize;
}
.footer-rights-text > a {
  color: var(--text-color);
  transition: 0.5s linear;
}
.footer-rights-text > a:hover {
  color: var(--primary-color);
}

/*====================
Footer Responsive
======================*/

@media screen and (max-width: 1200px) {
  .footer-form-card #email {
    width: 60%;
  }
  .footer-form-card #email::placeholder {
    font-size: 18px;
  }
  .footer-form-card .btn {
    width: 40%;
  }
}
@media screen and (max-width: 992px) {
  .footer-logo {
    display: block;
    margin: auto;
  }
  .footer-desc {
    max-width: 730px;
    margin: 30px 0 20px;
  }
  .footer-sec .links-card {
    margin: auto;
  }
  .footer-form-card {
    margin: auto;
  }
  .footer-form-card .form-card-heading {
    margin-left: 30px;
  }
  .footer-form-card .socials-row {
    margin: 40px 0 40px 30px;
  }
  .footer-form-card .service-locations {
    margin-left: 30px;
  }
}
@media screen and (max-width: 576px) {
  .footer-sec {
    padding: 45px 0;
    margin-top: 45px;
  }
  .footer-logo {
    width: 100px;
  }
  .footer-desc {
    font-size: 16px;
  }
  .footer-sec .contact-details {
    font-size: 16px;
  }
  .footer-links {
    font-size: 16px;
  }
  .footer-form-card form {
    padding: 6px 6px 6px 20px;
  }
  .footer-form-card .form-card-heading {
    font-size: 18px;
    margin: 0 0 10px 20px;
  }
  .footer-form-card #email {
    font-size: 14px;
    width: 65%;
  }
  .footer-form-card #email::placeholder {
    font-size: 16px;
  }
  .footer-form-card .btn {
    font-size: 16px;
    width: 35%;
  }
  .footer-form-card .socials-row {
    margin: 15px 0 15px 20px;
  }
  .footer-form-card .socials-row > li {
    height: 35px;
    width: 35px;
  }
  .footer-form-card .socials-row i {
    font-size: 16px;
  }
  .footer-form-card .socials-row > li:last-child > .social-icon {
    padding: 3px;
  }
  .footer-form-card .service-locations {
    font-size: 16px;
    margin-left: 20px;
  }
  .footer-rights-text {
    font-size: 14px;
  }
}
